<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
</head>

<body>
    <header>
        <div class=main_head>
            <div class="menu" onclick="toggleMenu()">
                <span></span>
            </div>
        </div>
        </div>
    </header>
    <div class=Player>
        <img src="{% static 'sprites/test.jpg' %}" alt="" height=128 width=128 class=Player_img>
        <div class=Stats>
            <span class=hp-text>HP</span>
            <div class="hp-bar">
                <div id="progress" class="hp"></div>
            </div>
            <span class=lvl-text>LVL</span>
            <div class="lvl-bar">
                <div id="progress" class="lvl"></div>
            </div>
            <span class=mana-text>Mana</span>
            <div class="mana-bar">
                <div id="progress" class="mana"></div>
            </div>
        </div>
    </div>
    <div class=tasks>
        <form method="post" id="taskform">
            {% csrf_token %}
            <div class=habits>
                <div class=addhabits>
                    <input type="text" id="habitsinput" name='habits'>
                </div>
                <button type="submit" style="position: absolute; visibility: hidden;"></button>
                {% for item in habits %}
                <div class=item>
                    <span> {{item.text}} </span>
                    <label for="terms"></label>
                    <input type="button" name = habitsItem[] value="+">
                </div>
                {% endfor %}
            </div>
            <div class=daylys>
                <div class=adddaylies>
                    <input type="text" id="dayinput" name='daylies'>
                </div>
                <button type="submit" style="position: absolute; visibility: hidden;"></button>
                {% for item in daylies %}
                <div class=item>
                    <span> {{item.text}} </span>
                    <label for="terms"></label>
                    {% if item.is_ready == True %}
                    <input type="checkbox" id="terms" name="dayItem[]" checked="True" value={{item.id}}>
                    {% else %}
                    <input type="checkbox" id="terms" name="dayItem[]" value={{item.id}}>
                    {% endif%}
                </div>
                {% endfor %}
            </div>
            <div class=quests>
                <form method="post" id="questsform">
                    <div class=addquests>
                        <input type="text" id="questsinput" name='quests'>
                    </div>
                    <button type="submit" style="position: absolute; visibility: hidden;"></button>
                    {% for item in quests %}
                    <div class=item>
                        <span> {{item.text}} </span>
                        <label for="terms"></label>
                        {% if item.is_ready == True %}
                        <input type="checkbox" id="terms" name="questsItem[]" checked="True" value={{item.id}}>
                        {% else %}
                        <input type="checkbox" id="terms" name="questsItem[]" value={{item.id}}>
                        {% endif%}
                    </div>
                    {% endfor %}
            </div>
        </form>
    </div>
    <script src="{% static 'js/base.js' %}"></script>
</body>

</html>