<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <script src="{% static 'js/base.js' %}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
</head>

<body>
    <header>
        <div class=main_head>
            <div class="menu" onclick="toggleMenu()">
                <span></span>
            </div>
        </div>
        </div>
    </header>
    <div class=Player>
        <img src="{% static 'sprites/test.jpg' %}" alt="" height=128 width=128 class=Player_img>
        <div class=Stats>
            <span class=hp-text>HP</span>
            <div class="hp-bar">
                <div id="progress" class="hp"></div>
            </div>
            <span class=lvl-text>LVL</span>
            <div class="lvl-bar">
                <div id="progress" class="lvl"></div>
            </div>
            <span class=mana-text>Mana</span>
            <div class="mana-bar">
                <div id="progress" class="mana"></div>
            </div>
        </div>
    </div>
    <div class=tasks>
        <div class=habits>

        </div>
        <div class=daylys>
            <form method="post" id="dayform">
                {% csrf_token %}
                <div class=adddaylies>
                    <input type="text" id="dayinput" name='new'>
                </div>
                <button type="submit" style="position: absolute; visibility: hidden;"></button>
            </form>
            {% for item in daylies %}
            <div class=item>
                <span> {{item.text}} </span>
                <label for="terms"></label>
                <input type="checkbox" id="terms" name="terms">
            </div>
            {% endfor %}
        </div>
        <div class=quests>
            <form method="post" id="questsform">
                {% csrf_token %}
                <div class=addquests>
                    <input type="text" id="questsinput" name='new'>
                </div>
                <button type="submit" style="position: absolute; visibility: hidden;"></button>
            </form>
            {% for item in daylies %}
            <div class=item>
                <span> {{item.text}} </span>
                <label for="terms"></label>
                <input type="checkbox" id="terms" name="terms">
            </div>
            {% endfor %}
        </div>
    </div>
</body>

</html>