@import 'quests.css';
@import 'bars.css';
@import 'menu.css';
@import 'daylies.css';
@import 'habits.css';

html {
  background-color: rgba(227, 227, 227, 1);
}

.Player_img {
  position: relative;
  margin-left: 45%;
  margin-top: 2%;
}

header {
  padding: 15px !important;
  background-color: rgb(235, 235, 235);
}

.main_head {
  position: relative;
  width: 100%;
}

.tasks {
  position: absolute;
  margin-top: 2%;
  margin-left: 5%;
  width: 90%;
  height: 70%;
  background-color: #dddddd;
}

.tasks form{
  position: relative;
  height: 100%;
}

.habits {
  position: relative;
  top: 3%;
  left: 3%;
  width: 30%;
  height: 95%;
  background-color: #f1f1f1;
}